* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background: url(../images/jaguar-xe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.contenedor {
    background: rgba(50, 50, 50, 0.8);
    max-width: 600px;
    color: white;
    margin: 80px;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    border-radius: 15px;
}

.contenedor a {
    background: #DB3030;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    line-height: 50px;
    border-radius: 5px;
}

@media screen and (max-width: 768px) {
    
    .contenedor {
        width: 80%;
        margin: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}